<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udacoding.kotlinintermediate2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinIntermediate2">
        <activity android:name=".view.crud.UpdateActivity"></activity>
        <activity android:name=".view.crud.InsertActivity" />
        <activity android:name=".view.crud.DetailActivity" />
        <activity android:name=".view.more.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.more.ProfileActivity" />
        <activity android:name=".view.auth.RegisterActivity" />
        <activity android:name=".view.auth.LoginActivity" />
        <activity android:name=".view.MainActivity" />
    </application>

</manifest>